@import url("https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;500;700&display=swap");

body {
  font-family: "Helvetica Neue", sans-serif;
}

@import "tailwindcss";

section {
  box-sizing: border-box;
}
